# VS Code
.vscode/

# User Tasks
tasks/

# Python
__pycache__/
*.pyc
.env

# Docker
.dockerignore

# Qdrant
qdrant/storage/
# Log files
*.log
# Virtual environments
venv/
.venv/

# Logs
logs/
nohup.out
